@import-normalize;
@import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/solid.css';
:root {
  --background-color: #e9f5ff;
  --font-color: rgb(0, 29, 97);
}
Body {
  display: grid;
  justify-content: center;
  background-color: var(--background-color);
  font-family: 'Asap', sans-serif;
  color: var(--font-color);
}

#logo {
  height: 7.4rem;
  width: 13.8rem;
}
.Game{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  max-width: 1500px; /* Maximum of 5 columns*/
}
.Header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3,minmax(0,1fr));
  width: 90%;
  margin: 1rem 1rem 0rem 1rem;
  max-height: 8.5rem;
}

.Scoreboard {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.Scoreboard h3 {
  margin: 0rem;
}

#highScore {
  margin: 0.8rem;
}

.CardsGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 2rem;
  margin: 0rem 1rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.Card img{
  transition: transform .2s;
  border-radius: 10px;
  height: 342px;
  width: 245px;
}

.Card img:hover {
  transform: scale(1.1);
}

